<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifier Result Page (Successfully Authenticated)</title>
</head>
<body>
    <h1>Result Page</h1>
    <p><%= resultText %></p>
    <p>Issuance Date of the first NFT: <%= firstDate %></p>
    <p>Issuance Date of the second NFT: <%= secondDate %></p>
</body>
</html>